SUPABASE_URL=https://wkduowriurfbfsowxxel.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrZHVvd3JpdXJmYmZzb3d4eGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNTc5MzEsImV4cCI6MjEwMTkzMzkzMX0.9KXvTvdzP6PO-UPlMFndeaGOdLrHfj-FvjhHlmCdCiA
SITE_URL=https://zhandreya.github.io/nammedi/
